body {
    background-color: whitesmoke;
}

img {
    max-width: 60%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}

.list-group.ac-results {
    width: 80%;
}

.glyphicon > i, .glyphicon-sort{
    color: darkslategray !important;
}

.banner-about {
    height: 150px;
    background-color: cadetblue;
}

.banner-browse {
    height: 150px;
    background-color: indianred;
}

.banner-qb {
    height: 150px;
    background-color: seagreen;
}



.banner-title {
    font-size: xx-large;
    color: ghostwhite;
    padding-left: 10%;
    padding-top: 10px;
}

hr {
    height: 2px;
    background-color: ghostwhite;
    margin-left: auto;
    margin-right: auto;
}

.brand {
    padding-left: 10px;
}

.navbar-header {
    padding-top: 50px;
    padding-bottom: 18px;
}

.navbar-brand span {
    color: ghostwhite;
    font-weight: bold;
    font-size: x-large;
}

.navbar-collapse ul.nav li a {
    color: ghostwhite;
}

.general-search {
    position: absolute;
    width: 350px;
    height: 400px;
    z-index: 15;
    top: 40%;
    left: 40%;
    margin: -100px 0 0 -150px;
}

.hangingindent {
    padding-left: 40px ;
    text-indent: -40px ;
}

span.weak {
    font-weight: lighter;
}

.orchgrey p {
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    color: darkslategray;
}

.orchgreen p {
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    color: #004400;
}

/* Facet Panel */
.row.facet-clear
{
    align-content: center;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 20px;
    padding-top: 13px;
}

.panel-body.facet
{
    overflow: scroll;
    max-height: 200px;
}

.list-group.facet
{
    width: auto;
}

.panel-heading.facet
{
    height: 50%;
}

.panel-title.facet
{
    font-size: 100%;
    cursor: pointer;
}

/* PDF container */
.pdfobject-container {
    height: 800px;
}
.pdfobject {
    border: 1px solid #666;
}

/* Navbar */
ul#modellist, ul#modellist li {
    list-style: none;
}
ul#effectlist, ul#effectlist li {
    list-style: none;
}
@media (min-width: 768px) {
    .navbar-collapse {
        height: auto;
        border-top: 0;
        box-shadow: none;
        max-height: none;
        padding-left:0;
        padding-right:0;
        padding-top: 14px;
        overflow-y: scroll;
    }
    .navbar-collapse.collapse {
        display: block !important;
        width: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-x: visible;
    }

    .navbar
    {
        min-width:290px;
        margin-right: 0;
        margin-left: 0;
    }

    .navbar-nav,
    .navbar-left,
    .navbar-right,
    .navbar-header
    {
        float:none !important;
        min-height:60px !important;
        font-size: medium;
    }

    .navbar-right .dropdown-menu {left:0;right:auto;}
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: 0;
    }
}
