{% extends "base.html" %}

{% block body %}
    <br>
    <div class="container">
        <div class="row text-center">
            <h3>HOME</h3>
            <br>
            <p> Welcome to the future ACTOR Project website!</br>

                ACTOR = Analysis, Creation and Teaching of ORchestration.</br>

                The ACTOR project involves an international team of composers, music theorists, musicologists, computer scientists, psychologists, signal processing scientists, sound recordists and conductors. This team will engage in a major initiative to bring the study of orchestration practice into the 21st century and to create new tools for analyzing, creatings and teaching orchestration in contemporary classical, popular, film and video game music. As the project progresses, results and tools for creation and teaching will become available on this website. So stay tuned!</br>
            </p>
        <div class="row text-left">
          <p>
                <b>Academic partners</b>
              <ul>
                <li>McGill University (Canada)
                <li>Université de Montréal (Canada)
                <li>University of British Columbia (Canada)
                <li>University of Calgary (Canada)
                <li>University of Toronto (Canada)
                <li>Institut de recherche et coordination acoustique/musique (Ircam-CNRS-UPMC) (France)
                <li>Conservatoire national supérieur de musique et de danse de Paris (France)
                <li>Université de Strasbourg France)
                <li>Hochschule für Musik Detmold (Germany)
                <li>Haute école de musique de Genève (Switzerland)
                <li>Harvard University (USA)
                <li>Southern Methodist University (USA)
                <li>University of California, San Diego (USA)
              </ul>

                <b>Private-sector partners</b>
                <ul>
                <li>Applied Acoustics Systems (Canada)
                <li>Calcul Québec/Compute Canada (Canada)
                <li>Orchestre symphonique de Montréal (Canada)
                <li>OrchPlayMusic (Canada)
                <li>Vibe Avenue (Canada)
                <li>Sonic Solveig (France)
                </ul>

                <b>Funding sponsors</b>
                <ul>
                <li>Social Sciences and Humanities Research Council (Canada)
                <li>Fonds de recherche du Québec—Société et culture (Canada)
                <li>Natural Sciences and Engineering Research Council (Canada)
                <li>Agence national de la recherche (France)
                </ul>
                </p>
        </div>
    </div>
{% endblock %}
